$iconSpritePath: "../images/glyphicons-halflings.png"
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png"

@import sass-bootstrap/lib/bootstrap
// @import "compass/utilities/general/clearfix"

body
  text-align: center
  font-family: 'Open Sans', arial, sans-serif
  font-size: 13px
  background: #00BCB2

#main
  display: table
  height: 100%
  width: 100%

#content
  display: table-cell
  vertical-align: middle
  height: 100%
  width: 100%

#about
  padding-bottom: 20px
  font-weight: normal

#example-type
  color: gray
  font-size: 14px

.cover
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: #FFFFFF
  padding-top: 100px

.microphone
  background: url("../images/microphone2.svg") no-repeat center
  background-size: contain
  height: 450px

.cover > h1
  font-family: 'Open Sans'
  font-weight: 700
  font-size: 60px
  color: #00BCB2
  padding-top: 20px

#speech-content-elements
  margin: auto
  width: 60%
  height: 60%
  max-width: 800px
  border: none

#speech-page-content
  margin-top: 100px
  width: 100%
  height: 100%
  overflow: auto
  border: none
  resize: none
  font-family: arial, sans-serif
  font-size: 14px
  &:focus
    outline: none

.speech-content-mic
  width: 25px
  height: 25px
  cursor: pointer
  position: absolute
  right: 0
  top: 0

// .speech-mic
//   background: url("../images/mic.gif") no-repeat 50% 50%
//   background-size: contain

// .speech-mic-works
//   background: url("../images/mic-animate.gif") no-repeat 50% 50%
//   background-size: contain

#speech-page-content
  &::-webkit-scrollbar
    width: 6px
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    border-radius: 10px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)